name: "Blog Updater"

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *' # Runs every hour, on the hour

jobs:
  update_blogs:
    name: "Update Blogs"
    runs-on: ubuntu-latest
    steps:
      - name: "Fetching Repository Contents"
        uses: actions/checkout@main

      - name: "Hashnode Updater"
        uses: "varunsridharan/action-hashnode-blog@main"
        with:
          USERNAME: 'ayaan49'  # Hashnode Username
          BLOG_URL: 'https://ayaan49.hashnode.dev/' # Blog URL
          COUNT: 2 # MAX Visisble
          STYLE: "blog-left"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
